body {
  margin: 0px auto;/* Расстояние от края элемента до края окна браузера */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;   /* Устанавливает семейство шрифта */

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;  /* Расстояние от края элемента до края другого элемента */
 
}

.titles {
  margin-top: 48px; /* Устанавливает величину отступа от верхнего края элемента */
  color: #007765; /* Определяет цвет текста элемента */
  font-style: normal; /* Определяет начертание шрифта - обычное, курсивное или наклонное */
  font-weight: 500; /*  Устанавливает насыщенность шрифта  */
  font-size: 64px; /* Определяет размер шрифта элемента  */
  line-height: 75px; /*  Задает высоту строки элемента */
  text-align: center; /*  Определяет горизонтальное выравнивание текста в пределах элемента */
}
.main_container {
  width: 100%;    /* Устанавливает ширину содержимого элемента */ 
  max-width: 1219px;  /* Устанавливает максимальную ширину элемента  */ 
  margin-left: auto;  /* Устанавливает величину отступа от левого края элемента */ 
  margin-right: auto;  /* Устанавливает величину отступа от правого края элемента */ 
  padding-left: 55px;  /* Устанавливает значение поля от левого края содержимого элемента */ 
  padding-right: 55px;  /* Устанавливает значение поля от правого края содержимого элемента */ 
}

.cite_header {
  width: 100%; /* Устанавливает ширину содержимого элемента */ 
  background-color: #007765; /* Определяет цвет фона элемента */
  height: 84px; /* Устанавливает высоту содержимого элемента */
  display: flex;  /* Определяет как элемент должен быть показан в документе */
  align-items: center; /*Выравнивает флекс элементы внутри контейнера в перпендикулярном направлении */
  position: fixed;  /* Устанавливает способ позиционирования элемента относительно окна браузера или других обьектов на веб-странце */
  top: 0;  /* Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
  z-index: 21; /* Размещение по Z-оси s */
}

.navigation_container {
  height: 100%; /* Устанавливает ширину содержимого элемента */
  display: flex; /* Определяет как элемент должен быть показан в документе */
  align-items: center; /* Выравнивает флекс-элементы внутрки контейнера в перпендикулярном направлении */
  justify-content: space-between; /* Как браузер распределяет пространство вокруг флекс-элементов вдоль главной */
}

.link {
  font-weight: 500; /* Устанавливает насыщенность шрифта  */
  font-size: 24px; /* Определяет размер шрифта элемента */
  line-height: 28px; /* Задает высоту строки элемента */
  text-decoration: none; /* Добавляет оформление текста */
  color: #fff; /* Определяет цвет текста элемента */
}

.section_1 {
  background: url(image/image2.2.png) center no-repeat;  /* Установит фон элемента*/
  background-size: cover; /* Масштабирует фоновое изображение, согласно заданным размером */
  margin-top: 84px; /* Устанавливает величину отступа от верхнего края элемента */
  padding-top: 160px; /* Устанавливает значение поля от верхнего края содержимого элемента */
  padding-bottom: 160px; /* Устанавливает значение поля нижнего края содержимого элемента */
}

.main_title {
  font-style: normal; /* Определяет начертание шрифта - обычное, курсивное или наклонное */
  font-weight: 500; /* Устанавливает насыщенность шрифта  */
  font-size: 75px;  /* Определяет размер шрифта элемента */
  line-height: 84px; /* Задает высоту строки элемента */
  text-align: center;
  color: #fff; /* Определяет цвет текста элемента */
}

.section_2 {
  background-color: #fff; /* Определяет цвет фона элемента */
  padding-top: 55px; /* Устанавливает значение поля от верхнего края содержимого элемента */
  padding-bottom: 95px; /* Устанавливает значение поля нижнего края содержимого элемента */
}

.text_section_2 {
  font-style: normal;  /* Определяет начертание шрифта - обычное, курсивное или наклонное */
  font-weight: normal; /* Устанавливает насыщенность шрифта */
  font-size: 32px; /* Определяет размер шрифта элемента  */
  line-height: 37px; /*  Задает высоту строки элемента */

}

.section_3 {
  background: url(image/section3.png) center no-repeat; /* */
  background-size: cover; /* */
  padding-top: 128px; /* */
  padding-bottom: 128px; /* */
}

.message {
  width: 100%; /* */
  font-style: italic; /* Определяет начертание шрифта - обычное, курсивное или наклонное  */
  font-weight: 500; /*  Устанавливает насыщенность шрифта  */
  font-size: 48px; /* Определяет размер шрифта элемента */
  line-height: 56px; /* Задает высоту строки текста */
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента */
  color: #fff; /* Определяет цвет текста элемента */
}

.text_section_4 {
  font-style: normal; /*  Определяет начертание шрифта - обычное, курсивное или наклонное */
  font-weight: normal; /*  Устанавливает насыщенность шрифта  */
  font-size: 32px; /* Определяет размер шрифта элемента  */
  line-height: 37px; /*  Задает высоту строки элемента */
  color: #000; /* Определяет цвет текста элемента */
}

.logo {
  float: left; /* Остальные элементы будут обтекать его с других сторон*/
  padding-right: 48px; /* Устанавливает значение поля от правого края содержимого элемента */
}

.logo_img {
  width: 118px; /* Устанавливает ширину содержимого элемента */
  height: 118px; /* Устанавливает высоту содержимого элемента */
}

.section_5 {
  background-color: #fff; /* Определяет цвет фона элемента */
  padding-top: 58px; /*  Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 112px; /* Устанавливает значение поля от нижнего края содержимого элемента */
}

.img {
  width: 350px; /* Устанавлтвает ширину содержимого элемента*/
  height: 283px; /*  Устанавливает высоту содержимого элемента*/
  text-align: center; /*  Определяет горизонтальное выравнивание текста в пределах элемента */
  display: flex; /* Определяет как элемент должен быть показан в документе */
  flex-flow: column wrap; /* */
  align-items: center; /* Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
  padding-bottom: 55px; /* Устанавливает значение поля от нижнего края содержимого элемента */
}

.name {
  font-weight: 700; /*  Устанавливает насыщенность шрифта  */
  font-size: 24px; /* Определяет размер шрифта элемента*/
  line-height: 28px; /*  Задает высоту строки элемента */
  color: #007765; /* Определяет цвет текста элемента */
}

.team {
  padding-top: 58px; /* Устанавливает значение поля от верхнего края содержимого элемента */
}

.figure {
  margin: 0; /* Расстояние от края элемента до края другого элемента */
  padding: 0; /* Устанавливает значение полей вокруг содержимого элемента */
  display: flex; /* Определяет как элемент должен быть показан в документе */
  justify-content: space-evenly; /* */
  flex-wrap: wrap; /* */
}

.foto {
  width: 168px; /* Устанавливает ширину содержимого элмента */
  height: 168px; /* Устанавливает высоту содержимого элемента */
}

.footer { 
  padding-top: 50px; /* Устанавливает значение поля от верхнего края содержимого элемента */
  background-color: #333; /* Определяет цвет фона элемента */
  height: 176px; /* Устанавливает высоту содержимого элемента */
  text-align: center; /* Определяет горизонтальное выравнивание текста в пределах элемента */
}

.text {
  width: 540px; /* Устанавливает ширину содержимого элмента */
  height: 74px; /* Устанавливает высоту содержимого элемента */
  margin: 0 auto; /* Расстояние от края элемента до края другого элемента */
  color: #fff; /* Определяет цвет текста элемента */
  font-style: normal; /* Определяет начертание шрифта - обычное, курсивное или наклонное */
  font-weight: normal; /* Устанавливает размер шрифта элемента */
  font-size: 18px; /* Определяет размер шрифта элемента */
  line-height: 21px; /*  Задает высоту строки элемента */
}